* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(250, 250, 250);
}


/* Main- Section */

#header{
display: flex;
align-items: center;
justify-content: space-between;
padding: 20px 80px;
background-color: aliceblue;
box-shadow: 0 1px 5px;
position: sticky;
width: 100%;
top: 0;
left: 0;
z-index: 9999;

}

.logo{
font-size: 30px;
cursor: pointer;
color: crimson;

}



#navbar{
display: flex;
align-items: center;
justify-content: center;

}

#navbar li{
list-style: none;
padding: 0 20px;
}

#navbar li a{
text-decoration: none;
font-size: 20px;
font-weight: 600;
color: #1a1a1a;
}


/* Hero Section */

#hero{
  background-image: url( "assets/images/Tiffin.jpg");
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
 
}

#hero button{
background-color: cadetblue;
width: 120px;
height: 40px;
border-radius: 20px;
border: none;
cursor: pointer;
margin-top: 60px;
}

#hero h1{
  font-size: 30px;
}
#hero p{
  height: 15px;
  font-weight: 500;
}

.Register{
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 200px;
}

.Register button{
  margin-top: 30px;
  width: 200px;
  height: 50px;
  font-size: 25px;
  border: none;
  border-radius: 25px;
  background-color: rgb(93, 214, 93);
  cursor: pointer;
}

.Register button a{
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
  color: #1a1a1a;
}

.search{
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: azure;
  height: 200px;
}

.search-bar{
  width: 350px;
  height: 40px;
}

/* Footer Basic */

.footer-clean {
  padding:50px 0;
  background-color:#fff;
  color:#ffffff;
  background-image: linear-gradient(50deg, #2857a4 0%, #403066 74%);

}

.footer-clean h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-clean ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-clean ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-clean ul a:hover {
  opacity:1;
}

.footer-clean .item.social {
  text-align:right;
}

@media (max-width:767px) {
  .footer-clean .item {
    text-align:center;
    padding-bottom:20px;
  }
}

@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align:center;
  }
}

.footer-clean .item.social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin-left:10px;
  margin-top:22px;
  color:inherit;
  opacity:0.75;
}

.footer-clean .item.social > a:hover {
  opacity:0.9;
}

@media (max-width:991px) {
  .footer-clean .item.social > a {
    margin-top:40px;
  }
}

@media (max-width:767px) {
  .footer-clean .item.social > a {
    margin-top:10px;
  }
}

.footer-clean .copyright {
  margin-top:14px;
  margin-bottom:0;
  font-size:13px;
  opacity:0.6;
}

/* Registration form */

#success_message{ display: none;}


/* About Section */

.about{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.p1{
  font-size: 22px;
}

.title2{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* User-Date */

.tiffin-data{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Contact -Form */

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container1 {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}